<h1>Add a new movie:</h1>

<% form_for Movie, '/movies' do |f| %>
   <%= label_tag(:Movie_Name) %>
   <%= text_field_tag(:name) %>

   <%= label_tag(:rating) %>
   <%= select_tag :rating, :options => [1,2,3,4,5]  %>

   <%= submit_tag %>
<% end %>